@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Dela Gothic One', cursive;
}

.start-btn {
    position: absolute;
    top: 10%
}

body {
    background-color: rgb(163, 51, 51);
}

.content {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.timer {
    display: inline;
}

.info-box-title {
    background-color: white;
    color: black;
    border-style: solid;
    border-radius: 20px;
}